body {
  color-scheme: light dark !important;
  color: rgba(255, 255, 255, 0.87) !important;
  background-color: #242424 !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}